<!doctype html>
<html ng-app="UUC" ng-controller="middle">
	<head>
		<meta charset="UTF-8">
		<meta name="description" content="A useful tool for unit conversion.">
		<title>Ultimate Unit Converter</title>
		<script src="libs/angular.min.js"></script>
		<script src="app/core.js" type="text/javascript"></script>
		<script src="app/middle.js" type="text/javascript"></script>
		<script src="app/convert.js" type="text/javascript"></script>
		<script src="app/data.js" type="text/javascript"></script>
		<link rel="stylesheet" href="app/style.css">
	</head>
	<body>
<div id="lang" ng-switch="lang">
	<div ng-switch-when="CZ" ng-click="updateLang('EN');">English</div>
	<div ng-switch-when="EN" ng-click="updateLang('CZ')">Česky</div>
</div>

<div ng-include="'app/template.CZ.html'" ng-if="lang === 'CZ'"></div>
<div ng-include="'app/template.EN.html'" ng-if="lang === 'EN'"></div>
	</body>
</html>
