body {
	padding-bottom: 10px;
}
p {
	max-width: 1200px;
}
h2 {
	margin: 10px;
}
input[type="text"] {
	width: 300px;
}
li {
	margin-bottom: 5px;
}

.ok {
	display: inline;
	color: green;
}
.warn {
	display: inline;
	color: darkorange;
}
.err {
	display: inline;
	font-weight: bold;
	color: red;
}
.example {
	position: absolute;
	left: 230px;
	font-style: italic;
}
.reference {
	white-space: pre-wrap;
}
.highlight {
	background-color: #ffffbb;
}
.fakeLink {
	color: #0000ee;
	cursor: pointer;
	text-decoration: underline;
}
.code {
	font-family: 'Courier New', 'Courier', 'Consolas';
	background-color: #f0f0f0;
}
.statusAppear {
	animation: appear 0.5s linear forwards;
}
@keyframes appear {
	0%   {opacity: 0;}
	100% {opacity: 1;}
}

#output {
	height: 19px;
	border: 1px solid #A9A9A9;
}
#paramsContainer {
	height: 30px;
}
#footer {
	position: fixed;
	bottom: 0px;
	background-color: #FFFFFF;
	border-top: 1px solid #A9A9A9;
}
#lang{
	position: absolute;
	top: 0px;
	right: 0px;
	font-size: 28px;
	padding: 10px;
	color: #551A8B;
	text-decoration: underline;
	cursor: pointer;
}
