/* DESIGN TOKENS  */
:root {
	--highlight: #ffa;
	--border: #777;
	--border-light: #aaa;
	--border-dark: #444;
	--headline: #555;
	--background: #eee;
}

/* GENERIC */
h1 {
	font-size: 30px;
	margin-top: 8px;
	margin-bottom: 16px;
	color: var(--headline);
}
li {margin-bottom: 8px;}
input[type="button"] {cursor: pointer;}
.bigButton {
    padding: 4px 8px 4px 8px;
    font-size: 16px;
    background-color: var(--background);
    margin: 1px;
    border: 1px solid var(--border);
    border-radius: 5px;
}
.bigButton:hover {
	background-color: var(--background);
	margin: 0px;
	border-width: 2px;
}
.fakeLink {
	color: #00e;
	cursor: pointer;
	text-decoration: underline;
}
.code {
    font-family: 'Courier New', 'Courier', monospace;
	background-color: var(--background);
}
.subtle {color: var(--border)}



/* LAYOUT */
body {
	display: flex;
	font-family: Arial, FreeSans, sans-serif;
	margin: 0px;
	overflow-y: scroll;
}
#centeredContainer {
	margin: auto;
	max-width: 1000px;
	flex-grow: 1;
}
#contentContainer {
	position: relative;
	padding: 16px;
	padding-bottom: 40px; /* prevent overlap with footer */
}

#tabButtonContainer {
	display: flex;
	justify-content: flex-start;
	flex-direction: row;
	gap: 16px;
	margin-bottom: 24px;
	color: var(--headline);
}
.tabButton {
	padding: 8px;
	background-color: white;
	font-weight: bold;
	cursor: pointer;
}
.activeTab {
    border-bottom: 3px solid var(--border);
}

#lang {
	z-index: 8;
	position: absolute; top: 0px; right: 0px;
	padding: 2px;
}
#lang > img {
	width: 45px; height: 30px;
	margin: 1px;
	border: 1px solid var(--border-light);
	cursor: pointer;
}
#lang > img:hover {
	margin: 0px;
	border: 2px solid var(--border-dark);
}

#footer {
	position: fixed; left: 0px; bottom: 0px;
	padding: 4px;
	padding-left: 24px;
	padding-right: 24px;
	background-color: white;
	border-top: 1px solid var(--border);
}
#githubLogo {
	position: fixed; bottom: 0px; right: 0px;
	margin-right: 4px;
}



/* CONVERT */
.inputBox {
	margin-bottom: 16px;
	width: 350px;
	padding: 4px;
}
.outputBox {
	display: inline-block;
	height: 17px; /* empirical to match text input with .inputBox */
	border: 1px solid var(--border);
	margin-right: -2px; /* because of Ctrl+C icon */
}
.flipButton {
    position: absolute;
    left: 365px;
    top: 50px;
    font-size: 18px;
    cursor: pointer;
}
#inputAutocomplete {
	width: 20px; height: 27px; /* empirical to match text input with .inputBox */
}
.convertContainer {
	display: flex;
	justify-content: flex-start;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 20px;
}
.convertContainer > div {position: relative;}
.numSelector {
	border: none;
	outline: none;
	width: 32px;
}
.expandable {
	display: inline-block;
	width: 16px;
	margin-bottom: 12px;
}
/*status texts*/
.ok {color: green;}
.warn {color: darkorange;}
.err {font-weight: bold; color: red;}
.statusAppear {
	animation-name: appear;
	animation-timing-function: linear;
	animation-duration: 0.5s;
}
@keyframes appear {
	0%   {opacity: 0;}
	100% {opacity: 1;}
}



/* REFERENCES */
.reference {white-space: pre-wrap;} /* just a dirty trick to allow angular generated line breaks even without ng-sanitize */
.highlight {background-color: var(--highlight);}



/* MISCELLANEOUS ELEMENTS */
#tutorial {
	position: absolute;
	z-index: 20;
	background-color: white;
	border: 1px solid var(--border);
    width: 600px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.20);
}
#tutorialBar {
	width: 100%;
	background-color: var(--background);
	border-bottom: 1px solid var(--border);
	text-align: center;
	height: 21px;
	cursor: move;
}
.tutorialSection {
	padding: 12px;
	padding-top: 0px;
}
.XButton {
	position: absolute; top:-1px; right: -1px;
}
#shareLinkBox {
	z-index: 10;
	position: absolute;
	border: 1px solid var(--border);
	background-color: rgba(250, 250, 250, 0.9);
	padding: 8px;
    min-width: 250px;
}
.copyEffStatic {
    color: green;
    opacity: 0;
    padding-left: 8px;
}
.copyEffect {
	animation-name: flick;
	animation-timing-function: linear;
	animation-duration: 1s;
}
@keyframes flick {
	0%   {opacity: 0;}
	15%  {opacity: 1;}
	65%  {opacity: 1;}
	80%  {opacity: 0.65;}
	100% {opacity: 0;}
}
